p{color:green;
size: 25px;
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
font-weight: 30px;
text-decoration: line-through;
text-align: center;
text-indent: 34px;
word-spacing: 40px;
letter-spacing: 23px;

}
.hello{color: blue;}